body{
    background-image: url("https://github.com/LoafIT/CV/blob/main/tlo.jpg?raw=true");
    background-color: red;
}
.tabelmid{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    background-color: aquamarine;
    border-collapse: collapse;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.stopka{
    text-align: center;
    background-color: rgba(37, 43, 46, 0.495);
    font-size: small;
}
.lg{
    background-color: gray;
    border-top-left-radius: 15%;
}
.ld{
    background-color: gray;
    vertical-align: top;
}
img{
    border-radius: 50%;
}
.pd{
    vertical-align: top;
    background-color: aqua;
}
